<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
    <title>checkout Example</title>
</head>
<body>
    <button>checkout</button>
    <script>
        const button = document.querySelector("button");
        button.addEventListener("click",()=>{
            $.ajax({
                url:'/create-checkout-session',
                type:'POST',
                contentType:'application/json',
                data:JSON.stringify({event:1}),
                success:function(data,textstatus,xhr){
                    var stripe=Stripe('pk_test_51Mp5wMSCvBRUepcygLlplUQQQu2IN5QwzGxkKWnDjnlhTUmdFqI9bqhwyTf9U4NyfvpA9MuetlJ4SMnDDmqhqhbi00UENwpf9x')
                    return stripe.redirecttocheckout({sessionId:event.id});
                }
            })
        })
    </script>
</body>
</html>